body {
    background-image: url("https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolour-4116932_1280.png");
    text-align:center;
}
h1 {
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(4, 4, 161);
}
h2 {
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
}
p {
    font-size: 20px;
    font-family:'Nanum Pen Script', sans-serif;
}