h1{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
h1 span:nth-child(1) {
    color: rgb(64, 64, 190);
    background-color:rgb(200, 199, 255);
}
h1 span:nth-child(2)
{
    color: blueviolet;
    background-color: rgb(253, 209, 253);
}
h1 span:nth-child(3)
{
    color:rgb(253, 1, 190);
    background-color:rgb(233, 211, 227);
}
div {
    background-color: yellow;
    font-size: 20px;
    font-family:'Nanum Pen Script', sans-serif;
    text-align:center;
}
p{
    text-align:center;
}