div{
    background-color: skyblue;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
span {
    background-color: yellow;
    font-family:Arial, Helvetica, sans-serif;
    text-align:end;
}
p{
    text-align:center;
}